{{- if eq .chezmoi.hostname "bogo-laptop" }}
wallpaper {
    monitor = 
    path = ~/.config/assets/tkda3ntcfrh71.png
}
{{- else }}
wallpaper {
    monitor = 
    path = ~/.config/assets/wallpaper.jpg
}
{{- end }}
