{{- if eq .chezmoi.hostname "archlinux" }}
preload = ~/.config/assets/tkda3ntcfrh71.png
wallpaper = ,~/.config/assets/tkda3ntcfrh71.png
{{- else }}
preload = ~/.config/assets/wallpaper.jpg
wallpaper = ,~/.config/assets/wallpaper.jpg
{{- end }}
ipc = off 
